.nav-manu{
    color: rgb(190, 220, 250)!important;
    font-size: 18px !important;
}

.nav-manu:hover{
    color: #e94560 !important;
    transition: .5s !important;
}
.resume{
    font-size: 20px !important;
    background: linear-gradient(349deg, rgba(18,0,120,1) 0%, rgba(106,9,121,1) 48%, rgba(0,212,255,1) 85%) !important;
}

.resume:hover{
    background: linear-gradient(349deg, rgba(0,212,255,1) 0%, rgba(106,9,121,1) 48%,  rgba(18,0,120,1)   85%) !important;
}
.resume2{
    color:white !important;
}
